*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url('./bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#game{
    width: 400px;
    height: 500px;
    border: 2px solid black;
    margin: auto;
    z-index: 1;
    backdrop-filter: blur(2px);
}

#scoreBoard{
    position: relative;
    border: 1px solid black;
    height: max-content;
    width: 400px;
    padding: 0.5em;
    margin: auto;
    margin-top: 2em;
    z-index: 999;
    /* background-color: rgb(237, 240, 78); */
    background: linear-gradient(to bottom right, #fdfc47, #24fe41);
    text-align: center;
    font-size: xx-large;
    /* background: transparent */
}

#character{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 400px;
    z-index: 2;
}

.block{
    width: 400px;
    height: 20px;
    background-image: url('./wood.jpg');
    position: relative;
    top: 100px;
    margin-top: -20px;
    z-index: -1;
}

.beforeBlock{
    height: 20px;
    background-image: url('./wood.jpg');
    position: relative;
    top: 100px;
    margin-top: -20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.afterBlock{
    height: 20px;
    background-image: url('./wood.jpg');
    position: relative;
    top: 100px;
    margin-top: -20px;
}

.hole{
    width: 40px;
    height: 20px;
    background-color: rgb(194, 236, 132);
    position: relative;
    top: 100px;
    margin-top: -20px;
    z-index: 0;     
}

#dot{
    height: 20px;
    width: 2px;
    border-radius: 10%;
    margin-left: 0.5em;
    align-items: center;
    background-color: white;
}

#controlBtn{
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
    margin-top: 2em;
}

#left{
    width: 2em;
    height: 2em;
    background: transparent;
    border: none;
}

#right{
    width: 2em;
    height: 2em;
    background: transparent;
    border: none;
}

.hideClas{
    display: none;
}

.frotate{
    animation: frotation 500ms infinite linear;
}
.brotate{
    animation: brotation 500ms infinite linear;
}
.stop{
    animation: stop 1s infinite linear;
}

@keyframes frotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@keyframes brotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
}

@keyframes stop {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(0deg);
    }
}

@media screen and (max-width: 450px) {
    #game{
        width: 90%;
        height: 50vh;
    }
    #scoreBoard{
        display: flex;
        width: 90%;
        height: max-content;
    }
    .block{
        width: 100%;
    }
    #character{
        top: 200px;
    }
}